<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>Home Page</p>
  </div>
  <p>Welcome to the Library!!</p>

  <mat-tab-group>
      <mat-tab label="About Our Library">
        <p>Founded in 2019, we have an amazing selection of books to choose from. Come visit us today to sign up for a LibraryCard</p>
      </mat-tab>
      <mat-tab label="What To Bring">
         <p>An ID (proof of identity), proof of address, and a love for books</p>
        </mat-tab>
      <mat-tab label="Hours of Operation">
         <p>Sunday: 1:00pm - 5:00pm</p>
         <p>Monday: 8:00am - 5:00pm</p>
         <p>Tuesday: 8:00am - 5:00pm</p>
         <p>Wednesday: 8:00am - 5:00pm</p>
         <p>Thursday: 8:00am - 5:00pm</p>
         <p>Friday: 8:00am - 5:00pm</p>
         <p>Saturday: 10:00am - 5:00pm</p>
      </mat-tab>
  </mat-tab-group>
</section>
