<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>Home Page</p>
  </div>
  <p>Welcome to the Receipt Logger Application!!</p>

  <mat-tab-group>
      <mat-tab label="About Our Application">
        <p>Founded in 2020 during COVID-19 outbreak in quaratine, we are able to catalog and save receipt information for all registered users</p>
      </mat-tab>
      <mat-tab label="Recent Expenditures">
         <p>An ID (proof of identity), proof of address, and a love for books</p>
        </mat-tab>
      <mat-tab label="Hours of Operation">
         <p>Sunday: 1:00pm - 5:00pm</p>
         <p>Monday: 8:00am - 5:00pm</p>
         <p>Tuesday: 8:00am - 5:00pm</p>
         <p>Wednesday: 8:00am - 5:00pm</p>
         <p>Thursday: 8:00am - 5:00pm</p>
         <p>Friday: 8:00am - 5:00pm</p>
         <p>Saturday: 10:00am - 5:00pm</p>
      </mat-tab>
  </mat-tab-group>
</section>
